RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

SetEnv APPLICATION_ENV development
SetEnv GGTD_DEBUG 1
SetEnv GGTD_TMP_PATH ../tmp/
SetEnv GGTD_UPLOAD_PATH upload/
SetEnv GGTD_CSS_CACHE 0
SetEnv GGTD_CACHE 0